@use "../foundation/breakpoints" as *;
/* ——————————————————————————————————————————————————————————————
padding
—————————————————————————————————————————————————————————————— */
.u-p0 {
  padding: 0;
}
// padding-top
@for $i from 2 through 10 {
  $num: $i * 8;
  .u-pdt#{$num} {
    padding: #{calc($num / 2)}px;
  }
}