@use "../../foundation/breakpoints" as *;
.l-header{
  grid-area:header;
	width: 100%;
	position:sticky;
	top:0;
  background-color: #fff;
  z-index: 2;
  border-radius: 0 0 .5rem .5rem;
  &__logo{
    width: 7rem;
    height: auto;
    @include breakpoints (sm){
      width: 10rem;
    }
  }
}