@use "../../foundation/breakpoints" as *;
.p_fv{
  position:relative;
  .l-container{
    padding-block-end: 0;
    padding-block-start: 0;
  }
  .logo{
    position:absolute;
    top:50%;
    left:10%;
    transform:translate(0,-50%);
    z-index: 1;
  }
}
.view{
  overflow: hidden;
  .swiperImg{
    object-fit: cover;
    height: 90vh;
    border-radius:0 0 2rem 2rem;
  }
}
.p_service{
  .l-grid{
    &--item{
      background-color: #fff;
      padding: 1rem;
      @include breakpoints (md){
        padding: 1.5rem;
      }
      .c-image{
        flex: 0 0 5rem;
      }
      .c-txt{
        flex: auto;
      }
    }
  }
}
.p_flow{
  .l-grid{
    &--item{
      padding: 1rem;
      border: 1px solid var(--border);
      @include breakpoints (md){
        padding: 1.5rem 1rem;
      }
      +*{
        position:relative;
        &:before{
          content: '';
          background-color: var(--border);
          width: 3.5rem;
          height: 1px;
          position:absolute;
          top:50%;
          left: -2rem;
          transform:translate(0,-50%);
        }
      }
    }
  }
  .image--square{
    margin:0 auto;
    width: 5rem;
    object-fit: contain;
  }
}