@use "../../foundation/breakpoints" as *;
.p_fv{
  position:relative;
  .l-container{
    padding-block-end: 0;
    padding-block-start: 0;
  }
  .logo{
    position:absolute;
    top:50%;
    left:10%;
    transform:translate(0,-50%);
    z-index: 1;
  }
}
.view{
  overflow: hidden;
  .swiperImg{
    object-fit: cover;
    height: 90vh;
    border-radius:0 0 2rem 2rem;
  }
}