@use "../../foundation/breakpoints" as *;
// 下層ページ共通のCSS記述
.layout_main{
  padding-top: 7rem;
}
.page__header{
  width: 95%;
  &--img{
    border-radius:0 0 1rem 0;
    border-bottom:2px solid var(--primary);
  }
  &--title{
    margin-block-start: -3rem;
    color: #fff;
    padding: 0 1rem;
    @include breakpoints (md){
        padding: 0 2rem;
    }
  }
}