@use "../../foundation/breakpoints" as *;
.p_section{
  padding: 5rem 0;
  @include breakpoints (md){
    padding: 8rem 0;
  }
  &__title{
    font-size: 4rem;
    line-height:0.75;
    font-family:'Galada';
    @include breakpoints (md){
      font-size: 5rem;
    }
    @include breakpoints (lg){
      font-size: 8rem;
      line-height:0.5;
    }
    span{
      position:absolute;
      left:50%;
      transform:translate(-50%,0) rotate(-10deg);
      top: -1.5rem;
      @include breakpoints (md){
        top:-2rem;
      }
    }
  }
  &__head{
    position:relative;
    display: inline-block;
    margin-block-end: 1rem;
    @include breakpoints (md){
      margin-block-end: 2rem;
    }
    @include breakpoints (lg){
      margin-block-end: 3rem;
    }
  }
  &__body{
    width: 100%;
  }
  &__foot{
    margin-block-start: 1rem;
    @include breakpoints (md){
      margin-block-start: 2rem;
    }
    @include breakpoints (lg){
      margin-block-start: 3rem;
    }
  }
}