@use "../foundation/breakpoints" as *;
%l-frame,.l-frame{
  flex: auto;
  &__narrow{
    @extend %l-frame;
    max-width:900px;
  }
}
.p-frame{
  &__head{
    display: flex;
    align-items:center;
    flex: auto;
    padding: 1rem 4rem 1rem 1rem;
    @include breakpoints (lg){
      padding: 2rem 1.5rem;
    }
    .c-title{
      display:flex;
      flex-wrap:wrap;
      align-items:center;
      gap: 0.5rem;
      width: 100%;
      .icon{
        height:24px;
        width:24px;
        margin-right: .5rem;
      }
      h2{
        line-height: 1;
        color: var(--txt-color);
      }
      svg{
        fill: var(--primary-dark);
      }
    }
  }
  &__body{
    padding:0 1rem;
    @include breakpoints (lg){
      padding:0 1.5rem;
    }
    .c-box{
      &__head{
        display:flex; flex-wrap:wrap;
        align-items:center;
        .c-right{
          display:flex; flex-wrap:wrap;
          p{
            margin-right: 1rem;
            &:last-child{margin:0;}
          }
          span{margin-right:.25rem;}
        }
      }
    }
  }
  &__foot{
    padding:1.5rem 1rem 0;
    @include breakpoints (lg){
      padding:2rem 1.5rem 0;
    }
  }
}