@use "../foundation/breakpoints" as *;
/* ! ==================================================
- ヘッダー
================================================== */
header{
  .container{
		padding: .5rem 1.5rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
		.c-txt__min{
			max-width: 15rem;
		}
  }
}
// 通常のハンバーガーメニュー
.nav_toggle{
	height:40px; 
	width:40px;
	border-radius: 4px;
	display: none;
	border: #000 1px solid;
	background-color:rgba(255,255,255,.2);
	position:relative;
	transition: all 0.2s ease;
	z-index: 100;
	cursor: pointer;
	span{
		height:1px; width:30px;
		background-color: #000;
		display: block;
		position:absolute;
		top:15px;
		left:50%;
		transition: all 0.2s ease;
		transform:translate(-50%,0);
		+span{
			top:22px;
		}
		&.close{
			top:50%;
			transform:translate(-50%,-50%) rotate(45deg);
			+span{
				transform:translate(-50%,-50%) rotate(-45deg);
			}
		}
	}
	@include breakpoints (sm){
		display: block;
			z-index: 99;
		&:hover{
			background-color: #eee;
			span{
				width: 20px;
			}
		}
	}
}