@use "../foundation/breakpoints" as *;
body > div{
  height: 100dvh;
  min-width: 100vw;
  overflow: hidden;
}
.l-wrap{
  min-height: 100dvh;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  position:relative;
  overflow: auto;
  grid-template-areas:
    " header "
    " content "
    " footer ";
  >*{
    min-width:1px;
  }
}