@use "../foundation/breakpoints" as *;
.l-main{
  width:100%;
  display:flex;
  flex-direction:column;
  flex:auto;
  min-width:1px;
  @include breakpoints (lg){
    padding: 0 0 0 230px;
    min-height: 100vh;
  }
}
.l-body.aside__narrow{
  .l-main{
    @include breakpoints (lg){
      padding: 0 0 0 84px;
    }
  }
}
