@use "../foundation/breakpoints" as *;
.page{
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  position:relative;
  grid-template-areas:
    "header"
    "content"
    "footer";
  >*{
    min-width: 1px;
  }
}
.header {
  position:sticky;
  top:0;
  width: 100%;
  border-radius:0 0 2rem 2rem;
  z-index: 3;
  backdrop-filter: blur(4px);
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .05);
  grid-area:header;
}
.main, .sidebar{
  grid-row: 1;
  padding: 0 1rem 10rem;
  width: 100%;
}
.main{
  grid-column: 2;
  grid-area:content;
  &Page{
    padding-block-start: 3rem;
  }
  img{
    object-fit:cover;
  }
}
.footer{
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: 1rem;
  background-color: #fff;
  grid-area:footer;
  .l-grid--2{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    @include breakpoints (sm){
      grid-template-columns: 200px 1fr;
    }
  }
}