/* reset */html{}
body{color:#333;-webkit-text-size-adjust:100%;font-family:Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;}
img{max-width:100%;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,xmp{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;line-height:1.3}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}legend{color:#000}input,select,textarea,button{outline:none;}*{box-sizing:border-box;}

a{color: #0070f3;text-decoration:none;}a:hover{text-decoration:underline;}img{max-width:100%;display:block;}
h1{font-size:3rem}h2{font-size:2.5rem}h3{font-size:2rem}h4{font-size:1.5rem}h5{font-size:1rem}button{padding:0.5rem 1rem;font-weight:bold;}
html,body {padding:0;margin:0;line-height:1.618;}
@tailwind base;
@tailwind components;
@tailwind utilities;
.pageError{
  display:flex;
  align-items:center;
  justify-content:center;
}