.container {
  max-width: 36rem;
  padding: 1rem;
  margin: 3rem auto 6rem;
}
.header {
  display: block;
  width:100%;
  background-color:#fefefe;
}
.header img{
  object-fit:cover;
}
.backToHome {
  margin: 3rem 0 0;
  font-size: 2rem;
  color: blue;
}
.main{
  min-height: calc(100vh - 13rem);
  padding: 2rem;
}
.page{
  min-height: 100vh;
}
.ml-auto{
  margin-inline-end: auto;
}