@use "../../public/sass/foundation/breakpoints" as *;
.p_bg{
  position:fixed;
  top:0;
  height: 100dvh;
  width: 100%;
  mix-blend-mode: multiply;
  &__head{
    canvas{
      background-color: transparent;
      backdrop-filter: blur(1rem);
      mix-blend-mode: multiply;
      cursor: pointer;
    }
  }
}
.p_fv{
  height: 100dvh;
  &__container{
    z-index: 1;
    width: 100%;
    display:flex;
    align-items:center;
    gap: 1rem;
    flex-direction: column;
    max-width:680px;
    position: absolute;
    top:50svh;
    left:50%;
    transform:translate(-50%,-50%);
  }
  &__scroll{
    font-size: 10px;
    padding: 1rem;
    border-radius:50%;
    aspect-ratio: 1;
    display: block;
    border: 1px solid var(--border);
    align-content: center;
    position:relative;
    transition: all 0.2s;
    &:after{
      content: '';
      position:absolute;
      top:75%;
      left:50%;
      transform:translate(-50%,0);
      width:1px;
      height:2rem;
      display: block;
      background-color: var(--border);
      transition: all 0.2s;
      animation-name: animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      @keyframes animation { 
        0%{
          top: 75%;
        }
        50%{
          top: 90%;
          background-color: var(--base);
        }
        100%{
          top: 75%;
        }
      }
    }
    &:hover{
      @include breakpoints (sm){
        border-color: var(--base);
        &:after{
          background-color: var(--base);
        }
      }
    }
  }
  &__logo{
    width:10rem;
    @include breakpoints (md){
      width:15rem;
    }
  }
}
.p_about{
  position:relative;
  z-index: 1;
  overflow: hidden;
  .p_section__title span{
    left:50%;
  }
  &__body{
    display:flex;
    flex-wrap:wrap;
    margin-block-start: -3rem;
    @include breakpoints (sm){
      margin-block-start: -8rem;
    }
    @include breakpoints (md){
      margin-block-start: 0;
    }
  }
  &__text{
    position: relative;
    z-index: 1;
    padding: 1rem;
    margin-inline: auto;
    @include breakpoints (sm){
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(8px);
      max-width: 660px;
    }
    @include breakpoints (xl){
      background-color: transparent;
      backdrop-filter: inherit;
    }
  }
  &__img{
    &Left{
      @include breakpoints (md){
        left:-1%;
        position:absolute;
        top:60%;
        transform:translate(0,-50%);
      }
      img{
        height:auto;
        width:120px;
        @include breakpoints (md){
          width:10rem;
        }
        @include breakpoints (xl2){
          width:20rem;
        }
      }
    }
    &Right{
      margin-inline-start:auto;
      @include breakpoints (md){
        right:-1%;
        position:absolute;
        top:60%;
        transform:translate(0,-50%);
      }
      @include breakpoints (xl2){
      }
      img{
        height:auto;
        width:120px;
        @include breakpoints (md){
          width:10rem;
        }
        @include breakpoints (xl2){
          width:20rem;
        }
      }
    }
  }
}
.p_service{
  &__body{
    max-width: 1080px;
    margin:0 auto;
  }
  &Item{
    position:relative;
    z-index: 1;
    background-color: #fff;
    padding: 1rem;
    box-shadow: .25rem .25rem 0px rgba(0, 30, 123, .3);
    border-radius:4px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3rem 1fr;
    @include breakpoints (md){
      grid-template-columns: 5rem 1fr;
      gap: 2rem;
      padding: 1rem 1.5rem;
      box-shadow: .5rem .5rem 0px rgba(0, 30, 123, .3);
      > div{
        min-width: 1px;
      }
    }
  }
}
.p_flow{
  z-index: 1;
  counter-reset: number 0; 
  .p_section__title span{
    left:inherit;
    right:15%;
    @include breakpoints (lg){
      right:7%;
    }
  }
  &__head{
    @include breakpoints (lg){
      margin-block-end: 4rem;
    }
  }
  &Item{
    padding: 1rem;
    position:relative;
    border: 1px solid var(--border);
    @include breakpoints (md){
      padding: 1.5rem 1rem;
    }
    &__body{
      text-align: left;
      &:before{
        counter-increment: number 1;
        content: counter(number)'';
        font-size: 5rem;
        font-family:'Galada';
        color: var(--border-color);
        position:absolute;
        top:-1.75rem;
        left: 1rem;
        @include breakpoints (md){
          top:-3rem;
          left:0;
        }
      }
    }
    +*{
      position:relative;
      &:before{
        content: '';
        background-color: var(--border);
        position:absolute;
        width: 2px;
        height: 2rem;
        top:-1rem;
        left: 50%;
        transform:translate(-50%,0);
        @include breakpoints (sm){
          width: 3.5rem;
          height: 1px;
          top:50%;
          left: -2rem;
          transform:translate(0,-50%);
        }
      }
    }
  }
}
.p_works{
  &__listItem{
    display: block;
    position:relative;
    &:nth-child(n+7){
      display:none;
    }
    picture{
      display: block;
      aspect-ratio: 16/9;
      width: 100%;
      position:relative;
      overflow: hidden;
      background-color: var(--primary);
      border-radius:.25rem;
    }
    img{
      transition: all 0.4s;
      position:absolute;
      top:50%;
      left:50%;
      height: 100%;
      transform:translate(-50%,-50%);
    }
    &:hover{
      figcaption{
        background-color: rgba($color: #000000, $alpha: .7);
      }
      img{
        transform: scale(1.01) translate(-50%,-50%);
        opacity: .7;
      }
    }
  }
  &__gridCard{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    @include breakpoints (sm){
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoints (lg){
      grid-template-columns: repeat(3, 1fr);
    }
    figcaption{
      position:absolute;
      bottom:1rem;
      left:0;
      color: #fff;
      backdrop-filter: blur(4px);
      padding: .5rem;
      background-color: rgba($color: #000000, $alpha: .3);
      transition: all 0.2s;
    }
  }
}