@use "../../public/sass/foundation/breakpoints" as *;
// 下層ページ共通のCSS記述
.layout_main{
  padding-top: 7rem;
}
.heading{
  display:flex;
  justify-content: flex-end;
  width: 100%;
  &__img{
    height: 15rem;
    width: 90%;
    border-radius:0 0 0 1rem;
    margin-inline-start: auto;
  }
  &__title{
    margin-block-start: -3rem;
    font-size: 5rem;
    padding: 0 1rem;
    @include breakpoints (md){
        padding: 0 2rem;
    }
    small{
      font-size: 1rem;
    }
  }
}