@use "../../public/sass/foundation/breakpoints" as *;

.heading{
  display:flex;
  justify-content: flex-end;
  width: 100%;
  background-color: rgba($color: #00314a, $alpha: 0.5);
  &__img{
    height: auto;
    width: 95%;
    object-fit: contain;
    margin:2rem auto;
    border-radius:.25rem;
    box-shadow: 0px .5rem 1rem rgba(0, 0, 0, .15);
    @include breakpoints (md){
      width: 80%;
      border-radius:.5rem;
      margin: 4rem auto;
      box-shadow: 0px 1rem 2rem rgba(0, 0, 0, .15);
    }
  }
}
.c_bg__pc{
  background:url(../../public/images/bg/bg_pc.png) no-repeat center;
  background-size:contain;
  position:relative;
  width: 100%;
  aspect-ratio: 16/9;
  picture{
    overflow: auto;
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 92%;
    display: block;
    width: 76%;
    border-radius: 3%;
    aspect-ratio: 4 / 3;
  }
}
.p_works{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-block-start: 2rem;
  @include breakpoints (md){
    grid-template-columns: 1fr 2fr;
    margin-block-start: 4rem;
    gap: 2rem;
  }
  @include breakpoints (xl){
    gap: 3rem;
  }
  > div{
    min-width: 1px;
  }
  &__h1{
    position:relative;
    &:after{
      content: '';
      background-color: #e9ff00;
      height: 35%;
      width: 0%;
      position:absolute;
      bottom:.25rem;
      left:-0.5rem;
      display:block;
      animation-name: works_h1;
      animation-duration: 1s;
      animation-delay: 1.5s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      mix-blend-mode: multiply;
      z-index: -1;
    }
  }
  &__head{
    @include breakpoints (md){
      position:sticky;
      top:60px;
      max-height: calc(100dvh - 60px);
    }
    ul{
      margin-block-start: 1rem;
      &:before{
        content:'作業範囲';
        font-weight: 700;
        font-size: .875rem;
      }
    }
    li{
      &:before{
        content: '●';
        font-weight: 700;
        font-size: .875rem;
        color: var(--secondary);
      }
    }
  }
  &__body{
    margin-block-start: 2rem;
    @include breakpoints (md){
      margin-block-start: 0;
    }
    .p_works__body{
      &Web{
        display:none;
      }
      &Gra{
        display:block;
      }
    }
    &[class*="web"]{
      .p_works__body{
        &Web{
          display:block;
        }
        &Gra{
          display:none;
        }
      }
    }
    iframe{
      width: 100%;
      max-width:800px;
      height:auto;
    }
  }
  &__img{
    width: 100%;
    height: auto;
    margin-block-start: .5rem;
    &:first-of-type{
      margin-block-start: 0;
    }
  }
  &__tag{
    gap:.5rem;
    display:flex;
    flex-wrap:wrap;
    margin-block-start: 1rem;
    p{
      padding: .125rem .5rem;
      border-radius:4px;
      color: var(--primary);
      border: 1px solid var(--primary);
      background-color: #fff;
    }
  }
  &__foot{
    margin-block-start: 3rem;
    padding-inline-start: 2rem;
    @include breakpoints (md){
      margin-block-start: 5rem;
      padding-inline-start: 4rem;
    }
  }
  &__bottom{
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    padding-block: .5rem;
    @include breakpoints (sm){
      position:static;
      left:inherit;
      bottom:inherit;
      background-color: transparent;
    }
  }
}
@keyframes works_h1{
  0%{
    width:0%
  }
  100%{
    width:100%
  }
}
.listItem{
  display: grid;
  gap: .5rem;
  grid-row: span 3;
  grid-template-rows: subgrid;
}
.gridCard{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  @include breakpoints (md){
    grid-template-columns: repeat(3, 1fr);
  }
  figcaption{
    position:absolute;
    bottom:1rem;
    left:0;
    color: #fff;
    backdrop-filter: blur(4px);
    padding: .5rem;
    background-color: rgba($color: #000000, $alpha: .3);
  }
  a{
    opacity: 1;
    position:relative;
    &:hover{
      figcaption{
        background-color: rgba($color: #000000, $alpha: .7);
      }
    }
  }
}