@use "../../public/sass/foundation/breakpoints" as *;

.heading{
  display:flex;
  justify-content: flex-end;
  width: 100%;
  &__img{
    height: 15rem;
    width: 90%;
    border-radius:0 0 0 1rem;
    margin-inline-start: auto;
  }
}
.p_works{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  position:relative;
  @include breakpoints (md){
    grid-template-columns: 1fr 2fr;
  }
  > div{
    min-width: 1px;
  }
  &__head{
    @include breakpoints (md){
      position: sticky;
      top:0;
    }
  }
  &__body{
    margin-block-start: 2rem;
    @include breakpoints (md){
      margin-block-start: 0;
      height: 100dvh;
      overflow: auto;
    }
  }
  &__img{
    width: 100%;
    height: auto;
  }
  &__tag{
    gap:.5rem;
    display:flex;
    flex-wrap:wrap;
    margin-block-start: 1rem;
    p{
      padding: .125rem .5rem;
      border-radius:4px;
      color: var(--primary);
      border: 1px solid var(--primary);
      background-color: #fff;
    }
  }
  &__foot{
    margin-block-start: 3rem;
    padding-inline-start: 2rem;
    @include breakpoints (md){
      margin-block-start: 5rem;
      padding-inline-start: 4rem;
    }
  }
}
.listItem{
  display: grid;
  gap: .5rem;
  grid-row: span 3;
  grid-template-rows: subgrid;
}
.gridCard{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  @include breakpoints (md){
    grid-template-columns: repeat(3, 1fr);
  }
  figcaption{
    position:absolute;
    bottom:1rem;
    left:0;
    color: #fff;
    backdrop-filter: blur(4px);
    padding: .5rem;
    background-color: rgba($color: #000000, $alpha: .3);
  }
  a{
    opacity: 1;
    position:relative;
    &:hover{
      figcaption{
        background-color: rgba($color: #000000, $alpha: .7);
      }
    }
  }
}