/* ! --------------------------------------------------
- アイコン
-------------------------------------------------- */
svg{
	fill:var(--base);
	width: 1em;
	height: auto;
	aspect-ratio: 1/1;
	&.icon{
		&__w12{width: 12px;}
		&__w16{width: 16px;}
		&__w20{width: 20px;}
		&__w24{width: 24px;}
		&__w32{width: 32px;}
		&__w40{width: 40px;}
		&__w48{width: 48px;}
		&__w56{width: 56px;}
		&__w64{width: 64px;}
		&__w72{width: 72px;}
	}
}
.c-icon{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	display:block;
	border-radius:8px;
	aspect-ratio: 1/1;
	&__w12{ @extend .c-icon;width: 12px;}
	&__w16{ @extend .c-icon;width: 16px;}
	&__w20{ @extend .c-icon;width: 20px;}
	&__w24{ @extend .c-icon;width: 24px;}
	&__w32{ @extend .c-icon;width: 32px;}
	&__w40{ @extend .c-icon;width: 40px;}
	&__w48{ @extend .c-icon;width: 48px;}
	&__w56{ @extend .c-icon;width: 56px;}
	&__w64{ @extend .c-icon;width: 64px;}
	&__w72{ @extend .c-icon;width: 72px;}
	&__square{border-radius:0 !important;}
	&__circle{border-radius:50% !important;}
}