@use "../foundation/breakpoints" as *;

.navi{
  &__list{
    display: none;
    @include breakpoints (lg){
      grid-template-columns: inherit;
      display:flex;
    }
  }
  &__item{
    padding: 1rem 2rem;
    @include breakpoints (lg){
      padding: .25rem 1rem;
      &:hover{
        color: var(--primary);
      }
    }
  }
}