@use "../../foundation/responsive" as *;
@use "../../foundation/var" as *;
body{
  &:has(.remodal-is-opened){
    overflow: hidden;
  }
}
.remodal-wrapper{
  display:none;
  min-width: 0;
  width: 100%;
  height: 100%;
  position:fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 41, 65, 0.9);
  padding: 2rem;
  z-index: 10;
  transition: all 0.2s;
  &:has(.modal_slide){
    background-color: transparent;
    position:absolute;
    top:50%;
    transform:translate(99.9%,-45%);
    left: inherit;
    right: 0;
    width: auto;
    height: auto;
    padding: 0;
    &.remodal-is-opened{
      transform:translate(0,-45%);
    }
    .remodal-close{
      top:4px;
      left:4px;
      right: inherit;
      &:hover{
        background-color: var(--primary-pale);
      }
    }
  }
  .remodal-close{
    position: absolute;
    top: -40px;
    left:inherit;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    background: #fff url(../image/common/shape/cross.svg) no-repeat center;
    background-size: cover;
    width:32px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 8px;
    &:before{
      content: none;
    }
    &:hover{
        background-color: rgba(255,255,255,.8);
    }
  }
  .remodal{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100%;
    &:focus-visible{
      outline: none;
    }
    &.modal_map{
      .p-modal{
        &__body{
          width: 100%;
          max-height: 80vh;
          iframe{
            width: 100%;
            height: 500px;
          }
        }
      }
    }
    .p-modal{
      display:flex;
      align-items:center;
      flex-direction: column;
      margin: 0 auto;
      background: #fff;
      border-radius: 16px;
      max-height: 80vh;
      padding: 1rem;
      position:relative;
      width: 100%;
      max-width: 500px;
      min-height:300px;
      min-width: 300px;
      @include responsive (md){
        max-width: 800px;
        padding: 2rem;
      }
      form{
        width: 100%;
      }
      &__head{
        display:flex;
        align-items:center;
        flex-direction: column;
        margin-block-end: 1.5rem;
        @include responsive (md){
          margin-block-end: 2rem;
        }
        > div + *{
          margin-top:1rem;
        }
      }
      &__body{
        display: flex;
        align-items: center;
        flex-direction: column;  
        overflow: auto;
        max-height: 45vh;
      }
      &__foot{
        margin-block-start: 1.5rem;
        @include responsive (md){
          margin-block-start: 2rem;
        }
      }
    }
    &.modal_slide{
      .p-modal{
        box-shadow: 0px 4px 8px rgba(0, 0, 0, .15);
        border-radius: 16px 0 0 16px;
        &__body{
          overflow: inherit;
          max-height:50vh;
          .t-wrapper .t-body .t-table{
            max-height:45vh;
          }
        }
      }
    }
  }
}