@use "../../foundation/breakpoints" as *;
.p_section{
  +.p_section{
    margin-top: 5rem;
  }
  &__head{
    margin-bottom: 2rem;
  }
  &__body{
    width: 100%;
  }
  &__foot{
    margin-top: 2rem;
  }
}