@use "../foundation/breakpoints" as *;
// .container {
//   max-width: 36rem;
//   padding: 1rem;
//   margin: 3rem auto 6rem;
// }
// .backToHome {
//   margin: 3rem 0 0;
//   font-size: 2rem;
//   color: blue;
// }
.page{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 100px;
  grid-template-columns: 360px 3fr;
  position:relative;
  @include breakpoints (md){
    overflow: hidden;
    height: 100vh;
  }
}
.header {
  position:fixed;
  top:0;
  left:50%;
  width: calc(100% - 3rem);
  transform:translate(-50%,0);
  background-color: #fff;
  border-radius:0 0 2rem 2rem;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .1);
}
.main, .sidebar{
  grid-row: 1;
  padding: 5rem 1rem 5rem;
}
.sidebar{
  grid-column: 1;
  position:relative;
}
.main{
  grid-column: 2;
  @include breakpoints (md){
    overflow: auto;
    height: 100%;
  }
  img{
    object-fit:cover;
  }
}
.footer{
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: 1rem;
  background-color: #fff;
  .l-grid--2{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    @include breakpoints (sm){
      grid-template-columns: 200px 1fr;
    }
  }
}