@use "../../foundation/breakpoints" as *;
/* ! --------------------------------------------------
- ボックス
-------------------------------------------------- */
.c-box{
    width: 100%;
    &.bg-fff{
        padding:1rem;
        background-color:#fff;
        @include breakpoints (md){
            padding: 2rem;
        }
    }
    +.c-box{
        margin-top: 1.5rem;
    }
    &--head{
        margin-bottom: 1rem;
    }
    &--foot{
        margin-top: 1rem;
    }
}