@use "../../foundation/var" as *;
.p-question{
  display:flex;
  align-items:center;
  transition: all 0.2s ease;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid var(--invalid);
  cursor: pointer;
  &:hover{
    border-color: var(--caution);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .15);
  }
  .c-text__caution{
    display:none;
    font-size: 1rem;
    color: var(--invalid);
    font-weight: 400;
    margin-inline-start: 4px;
  }
  &.is-open{
    padding: 0.2rem 0.5rem;
    .c-text__caution{
      display:block;
    }
  }
}