@use "../foundation/responsive" as *;
/* ! --------------------------------------------------
- フッターレイアウト
-------------------------------------------------- */
.l-footer {
  width:100%;
  padding: 1rem 1rem .25rem;
  @include responsive (sm){
    padding: 3rem 1rem .25rem;
  }
  .p-footer{
    &__body{
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
      @include responsive (sm){
        justify-content:flex-start;
      }
      img{
        &:hover{
          opacity: .7;
        }
        +img{
          @include responsive (sm){
            margin-top:1rem;
          }
        }
      }
    }
    &__foot{
      margin-top: 4px;
    }
    .copyright{
      font-size: 11px;
      text-align: right;
      color: #888;
    }
  }
}