@use "../foundation/breakpoints" as *;
.footer{
  &__logo{
    img{
      object-fit: contain;
    }
  }
  &__menu{
    &--nav{
      display: grid;
      grid-template-columns:1fr;
      gap: .5rem;
      a{
        text-align: right;
        padding: .5rem;
        &:hover{
          @include breakpoints (md){
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.copyright{
  font-size: 11px;
  color: #888;
}