@use "../foundation/breakpoints" as *;
@use "../foundation/var" as *;
.p-menu{
  position:fixed;
  top:0;
  left:1rem;
  width: 100%;
  max-width: 300px;
  &__wrapper{
    background:linear-gradient(-135deg, #2CFFF2 0%,#526EF6 60%, #BB3AD0 100%);
    padding: 6rem 1.5rem 3rem;
    border-radius:0 0 4rem 4rem;
  }
  &__nav{
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr;
    a{
      padding: .5rem;
      color: #fff;
      display:flex;
      align-items:center;
      border-radius:1rem;
      &:before{
        content: '';
        display:inline-block;
        height: 1px;
        width: 1rem;
        background-color: #fff;
        margin-inline-end: .5rem;
        transition: all 0.2s;
      }
      &:hover{
        background-color: rgba($color: #000000, $alpha: 0.05);
        &:before{
          @include breakpoints (md){
            width: 2rem;
          }
      }
      }
    }
  }
}