@use "../foundation/breakpoints" as *;
.u-flex{
  display:flex;
}
.u-auto{
  flex: auto;
}
.u-align {
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  gap: 0.5rem;
  @include breakpoints (lg){
    gap: 1rem
  }
  // 縦並び
  &.horizontal {
    flex-direction: column;
  }
  // 中央よせ
  &.center {
    justify-content: center;
  }
  &.start {
    align-items: flex-start;
    justify-content: flex-start;
  }
  // ボタン用右よせ
  &.end {
    align-items: flex-end;
    justify-content: flex-end;
  }
  &.between{
    justify-content: space-between;
  }
  .f-item{
    margin:0;
  }
}