@use "../foundation/breakpoints" as *;
/* ——————————————————————————————————————————————————————————————
margin
—————————————————————————————————————————————————————————————— */
.u-m0{margin: 0;}
.u-mlAuto{margin-inline-start: auto;}
// margin-block-start
@for $i from 2 through 10 {
  $num: $i * 8;
  .u-mt#{$num} {
    margin-block-start: #{calc($num / 2)}px;
  }
}
@include breakpoints(lg) {
  @for $i from 2 through 10 {
    $num: $i * 8;
    .u-mt#{$num} {
      margin-block-start: #{$num}px;
    }
  }
}
// margin-block-end
@for $i from 2 through 10 {
  $num: $i * 8;
  .u-mb#{$num} {
    margin-block-end: #{calc($num / 2)}px;
  }
}
@include breakpoints(lg) {
  @for $i from 2 through 10 {
    $num: $i * 8;
    .u-mb#{$num} {
      margin-block-end: #{$num}px;
    }
  }
}