@use "../foundation/breakpoints" as *;
/* ——————————————————————————————————————————————————————————————
margin
—————————————————————————————————————————————————————————————— */
.u-m0 {
  margin: 0;
}

// margin-top
@for $i from 2 through 10 {
  $num: $i * 8;
  .u-mgt#{$num} {
    margin-top: #{calc($num / 2)}px;
  }
}
@include breakpoints(lg) {
  @for $i from 2 through 10 {
    $num: $i * 8;
    .u-mgt#{$num} {
      margin-top: #{$num}px;
    }
  }
}
// margin-bottom
@for $i from 2 through 10 {
  $num: $i * 8;
  .u-mgb#{$num} {
    margin-bottom: #{calc($num / 2)}px;
  }
}
@include breakpoints(lg) {
  @for $i from 2 through 10 {
    $num: $i * 8;
    .u-mgb#{$num} {
      margin-bottom: #{$num}px;
    }
  }
}