@use "../../public/sass/foundation/breakpoints" as *;
.l_footer{
  grid-area:footer;
  margin-block-start: 3rem;
  padding: 0 .5rem .5rem;
  @include breakpoints (sm){
    padding: 1rem;
    margin-block-start: 5rem;
    background-color: #fff;
    border-radius:.5rem;
  }
}
.p_footer{
  &__body{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: .5rem;
    @include breakpoints (sm){
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
      flex-wrap:wrap;
    }
  }
  &__foot{
    margin-block-start: 1rem;
  }
  &__logo{
    object-fit: contain;
    width: 8rem;
    height: auto;
  }
  &__menu{
    nav{
      display:flex;
      flex-wrap:wrap;
      gap: .25rem;
      a{
        text-align: right;
        padding: .5rem;
      }
    }
  }
}
.copyright{
  font-size: 11px;
  color: #ccc;
  text-align: center;
  @include breakpoints (sm){
    text-align: right;
  }
}